.current.current {
    position: relative;
    color: var(--accent-color);
}
.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}